<div class="container-fluid">
  <div class="table-responsive container-md mt-2">
    <table class="table table-striped
    table-hover	
    table-borderless
    table-primary
    align-middle">
      <thead class="thead-dark fs-5">
        <tr>
          <th>Nombre del personaje</th>
          <th>Estatus del personaje</th>
          <th>Género del personaje</th>
          <th>Imágen del personaje</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr class="thead-light" *ngFor="let character of characters">
          <td class="text-white text-center fw-bold fs-3">{{character.name}}</td>
          <td class="text-white text-center fw-bold fs-3">{{character.status}}</td>
          <td class="text-white text-center fw-bold fs-3">{{character.gender}}</td>
          <td><img class="img-thumbnail rounded mx-auto d-block" [src]="character.image" alt="{{ character.name }}" /></td>
        </tr>
      </tbody>
      <tfoot>

      </tfoot>
    </table>
  </div>

</div>